%br
  Click thumbnail to insert into post

-@mediamaids = Mediamaid.all(:order=>"created_at DESC")
%div#mediamaid_gallery
  -@mediamaids.each do |m|
    %div.mediamaid_file
      -if (m.file_exists? && m.mediamaid.url(:thumb))
        %div.div_link
          %div.mediamaid_thumbnail_wrapper
            %div.shadow5
              %div.shadow4
                %div.shadow3
                  %div.shadow2
                    %div.shadow1
                      %div.shadow_border
                        =get_media(m)
                        %div.mediamaid_label
          =get_media(m,false)
= javascript_include_tag 'admin/mediamaid.js'

