%div#mediamaid_partial
  %script{:src=>"/javascripts/admin/mediamaid.js", :type=>"text/javascript"}
  %div#mediamaid_header
    %div#ClickImageMsg{:style=>("display:none;")}
      %br 
        Click thumbnail to insert into post
    %a#more_mediamaid_gallery{:href=>("javascript:$('mediamaid_gallery').show();$('ClickImageMsg').show(); $('less_mediamaid_gallery').show(); $('more_mediamaid_gallery').hide(); this.stop()"), :style=>"text-decoration:none;"} 
      Show Media
      %img{:src=>"/images/admin/media.png", :alt=>"Click to view media gallery"}
    %a#less_mediamaid_gallery{:style=>("display:none; text-decoration:none;"),:href=>("javascript: $('mediamaid_gallery').hide();$('ClickImageMsg').hide(); $('more_mediamaid_gallery').show(); $('less_mediamaid_gallery').hide(); this.stop()")}
      Hide Media
      %img{:src=>"/images/admin/media.png", :alt=>"Click to view media gallery"}
  %div#mediamaid_gallery{:style=>"display:none;"}
    -@mediamaids = Mediamaid.all(:order=>"created_at DESC")
    -@mediamaids.each do |m|
      %div.mediamaid_file
        -if (m.mediamaid.url(:thumb)) 
          %div.div_link
            %div.mediamaid_thumbnail_wrapper
              %div.shadow5
                %div.shadow4
                  %div.shadow3
                    %div.shadow2
                      %div.shadow1
                        %a{:href=>"#", :onClick=>("insertAtCaret('#{m.mediamaid.url(:original)}', '#{m.mediamaid_content_type}'); return false;")}
                          %div.shadow_border
                            - @a = m.mediamaid_content_type.split('/')
                            - @b = ['wav','pdf','x-wav','swf'] #- get this from config next time
                            - if @b.include? @a[1]
                              %img{:src=>"/images/admin/gallery_#{@a[1]}.jpg", :alt=>m.mediamaid_file_name}
                            - else 
                              %img{:src=>m.mediamaid.url(:thumb),:alt=>m.mediamaid_file_name}
        %div.mediamaid_label 
          %a{:href=>"#", :onClick=>("insertAtCaret('#{m.mediamaid.url(:original)}', 'url'); return false;")}= m.mediamaid_file_name 