#content #mediamaid_upload {
	border:1px solid #A0A0A0;
}

#content #mediamaid_gallery_index{
/*	border:1px solid #A0A0A0;*/
	padding:5px;
	
}

#content #mediamaid_gallery_index a {
	text-decoration:none;
}
#content #mediamaid_gallery_index a:hover {
	text-decoration:underline;
}

#content p.more_or_less a {
   background: #7e7e7e;
	color:#fff;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
   -moz-border-radius-bottomleft: 6px;
   -moz-border-radius-bottomright: 6px;
   -webkit-border-bottom-left-radius: 6px;
   -webkit-border-bottom-right-radius: 6px;
   text-decoration: none;
   padding: 4px 21px 5px 10px;
   position: relative;
   top: -1px; }
#content p.more_or_less {
  margin: 0 0 1em;
  padding: 4px 0 5px;
  font-size: 80%; }
 
#content p.more_or_less a:hover, #content p.more_or_less a:active, #content p.more_or_less a:focus {
      text-decoration: underline; }
#content .mediamaid_partial p.more_or_less #mediamaid_gallery {
    background: #7e7e7e no-repeat 90% 8px; }
/*  For 0.9.0  background: #7e7e7e url(/images/admin/metadata_toggle.png) no-repeat 90% 8px; }
*/
#content p.more_or_less #mediamaid_gallery {
    background: #7e7e7e no-repeat 85% -22px; }
/* For 0.9.0    background: #7e7e7e url(/images/admin/metadata_toggle.png) no-repeat 85% -22px; }
*/
#mediamaid_partial{
	margin:0 0 3px 0em;
	width:100%;
}
#mediamaid_upload {
	padding-left:8px;	
	
}
#mediamaid_upload h2 {
	line-height:0px;
	padding:1px;
}

#ClickImageMsg {
	color:black;
	float:left;
	text-align:left;
	font-size:9pt;
	vertical-align:bottom;
	font-style:italic;
	margin: 0 0 0 5px;
}

#mediamaid_header {
	float:right;
	text-align:right;
	vertical-align:bottom;
	width:100%;
}

#mediamaid_header a {
	text-decoration:none;
	color:#A0A0A0;
}

#mediamaid_header a.hover{
	text-decoration:underline;
}

#mediamaid_gallery {
	margin: 5px;
	padding:8px 0 8px 8px;
	background:#fff;
	width:auto;
	height:auto;
	max-height:250px;
/*	min-width:700px;*/
	overflow-y:auto;
	overflow-x:hidden;
	border-left-style:ridge;
	border-top-style:ridge;
	border-top-color: #A0A0A0;
	border-left-color: #A0A0A0;
	border-bottom:1px solid #e2e2e2;
	border-right:1px solid #e2e2e2;
	float:left;
	clear:both;
	
}
.mediamaid_file  {
	padding:3px; 
	float:left;
	margin-bottom:27px;
	margin-left:27px;
}

.mediamaid_label {
/*	border: 1px solid #000000;*/
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	font-size:9pt;
	width:130px;
}


.mediamaid_file h3{
	color:#000;
	font-size:12px;
	text-align:center;
	
}

.mediamaid_thumbnail_wrapper {
	height:130px;
	width:130px;
	line-height:130px;
	display: table-cell;
	text-align:center;
  
	
}
IMG.mediamaid_thumbnail {
	vertical-align:middle;
    margin-left: auto;
    margin-right: auto;
	text-align:center;
	padding:3px;
	border:1px solid #000;
	
}
.mediamaid_size_choice {
	color:#000;
	line-height:0px;
	padding:0px;
}

.shadow_border {
	border:1px solid #000;
	height:130px;
	width:130px;
	vertical-align:middle;
	line-height:130px;
	display: table-cell;
}

.shadow1 {
 	border-right:1px solid #999;
 	border-bottom:1px solid #999;
	margin-left:auto;
	margin-right:auto;	
}
.shadow2 {
 	border-right:1px solid #aaa;
 	border-bottom:1px solid #aaa;
	margin-left:auto;
	margin-right:auto;	
}
.shadow3 {
 	border-right:1px solid #ccc;
 	border-bottom:1px solid #ccc;
	margin-left:auto;
	margin-right:auto;
}
.shadow4 {
 	border-right:1px solid #ddd;
 	border-bottom:1px solid #ddd;
	margin-left:auto;
	margin-right:auto;
}
.shadow5 {
 	border-right:1px solid #eee;
 	border-bottom:1px solid #eee;
	margin-left:auto;
	margin-right:auto;
}
#errorExplanation {
	border: 2px solid red;
	padding: 7px;
	margin-bottom:20px;
	background-color:#f0f0f0;
}
#errorExplanation h2{
	text-align:left;
	font-weight:bold;
	padding:5px;
	font-size:12pt;
	margin:-7px;
	background-color:#c00;
	color:#fff;
}
#errorExplanation p{
	color:#333;
	margin-bottom:0;
	padding:5px;
	text-align:left;
}
#errorExplanation ul li{
	font-size:11pt;
	list-style:square;
	text-align:left;
	
}