

<%= link_to 'add media', :action => "new" %>

<table>
<% @mediamaids.each do |mediamaid| %>
	<tr>
		<td><%= link_to image_tag (mediamaid.mediamaid.url(:thumb)), :action => "show", :id  => mediamaid%> </td>
	</tr>
<% end %>
</table>
		