  <h1>media maids</h1>

<% form_for @mediamaid, :url  => { :action  => "create" }, :html  => { :multipart  => true } do |f| %>

<%= f.label :mediamade_file_name%>
<%= f.file_field :mediamaid %>
<%= f.submit %>
<% end %>